__pycache__
examples
env
pip-log.txt
pip-delete-this-directory.txt
.github
*.pyc
*.pyo
*.pyd
.Python
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
.pytest_cache
.env
*.egg-info